table
  colgroup
    col(span='2' style='background-color:red')
  tr(style='margin-bottom: 12px')
    th Movie
    th Price
    th Quantity
    th Total
    th Date
  tr
    td Spiderman
    td 450
    td 5
    td 1000
    td 12/12/23


//- .my-account__content
        //-         .my-account__list-header
        //-             h5.heading-5 Movie
        //-             h5.heading-5 Price
        //-             h5.heading-5 Quantity
        //-             h5.heading-5 Total
        //-             h5.heading-5 Date
        //-         .my-account__list.my-account__list--transactions
        //-             h5.heading-5 Spiderman
        //-             h5.heading-5 Price
        //-             h5.heading-5 Quantity
        //-             h5.heading-5 Total
        //-             h5.heading-5 Date
        //-         .my-account__list.my-account__list--transactions
        //-             h5.heading-5 Spiderman
        //-             h5.heading-5 Price
        //-             h5.heading-5 Quantity
        //-             h5.heading-5 Total
        //-             h5.heading-5 Date