extends baseEmail


block content

    section.ticket
        .ticket__box
            h5.heading-5 SpiderMan Homecoming
            h5.heading-5 Showing at Tue 17 May 2:45 PM 
            h5.heading-5 Seats: 1,3,4,6,7
            hr
            .ticket__details 
                .ticket__head
                    h5.heading-5 Cost
                    h5.heading-5 Quantity
                    h5.heading-5 Subtotal
                .ticket__body
                    h5.heading-5 12
                    h5.heading-5 3
                    h5.heading-5 36
            .ticket__fee
                h5.heading-5 Booking Fee
                h5.heading-5 P20.00
            .ticket__total
                h5.heading-5 Total
                h5.heading-5 P50.00
            hr